body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    width: fit-content;
    gap: 1rem;

}

textarea {
    resize: none;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
}